/node_modules/*
!/node_modules/@ookamiiixd/
!/node_modules/@ookamiiixd/baileys-store/*.*
!/node_modules/@ookamiiixd/baileys-store/dist/*.*
!/node_modules/@ookamiiixd/baileys-store/dist/prisma/*.*
debug/
prisma/migrations/
.env
*.tgz